.v-wrapper {
  background: var(--secondary);
  margin: 2rem 0;
}
.v-container  {
  .image-container{
    width: 32rem;
    height: 30rem;
    img{
      height: 100%;
      width: 100%;
    }
   } 
}
.v-container > div {
  flex: 1;
}
.v-right {
  gap: 0.5rem;
}

.facilities {
  // height: 25rem;
  // border: 1px solid black;
  width: 90%;
  padding: 1rem;
  padding-left: 0;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .row {
    display: flex;

    gap: 1rem;

    .rowItem {
      width: 50%;
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1rem;
      img {
        height: 1.4rem;
        width: 1.4rem;
        color: rgb(140 139 139);
      }
      svg {
        color: rgb(140 139 139);
      }
    }
  }
}

.accordion {
  margin-top: 2rem;
  border: none;
}

.accordionItem {
  background: var(--white);
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}
.accordionItem.expanded {
  box-shadow: var(--shadow);
  border-radius: 6px;
}

.accordionButton {
  background: var(--white);
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.icon {
  padding: 10px;
  background: #eeeeff;
  border-radius: 5px;
}
.icon svg {
  
    color: var(--themeColor2);

}
.accordionButton .primaryText {
  font-size: 1.1rem;
}

@media (max-width: 1024px) {
  .v-container {
    flex-direction: column;
  }

  @media (max-width: 768px) {
    .accordionButton .primaryText {
      font-size: 0.8rem;
    }
  }
}
@media (max-width: 640px) {
  .v-container {
   .image-container{
    width: 17rem;
    height: 15rem
   } 
  }
}

@media (max-width: 300px) {
  .v-container {
   .image-container{
    width: 17rem;
    height: 16rem
   } 
  }
}