.f-wrapper{
    // background-color: gray;

  
    .f-container{
        justify-content: space-between;
        margin-top: 1rem;
   
        
    }

.f-left{
    gap: 1rem;
}

.f-menu{
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
   
}
}