.h-wrapper {
  background: var(--white);
  color: var(--white);
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.h-container {
  // justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--secondary);
  // background-color: var(--themeColor2);
  width: 100%;
  // margin-top: 2rem;
  // border: 1px solid var(--themeColor2);
  border-radius: 3rem;

  .logo{
    height: 7rem;
    width: 13rem;
  }
  // box-shadow: ;
}

.h-menu  {
  gap: 1rem;
  z-index: 1;
  color: var(--black);
  a {
    font-weight: 500;
    padding: 0.6rem 1rem;
    border-radius: 4px;
    &:hover {
      color: var(--white);
      background: var(--blue-gradient);
      border: none;

      transition: all 0.3 ease;
    }
  }
}

.h-menu > *:hover {
  cursor: pointer;
}

.menu-icon {
  display: none;
}
.v-menu {
  display: none;
}


@media (max-width: 768px) {
  .h-container{
    justify-content: flex-end;
  }
  .menu-icon {
    display: block;
    color: var(--black);
    z-index: 1000;
  }

.h-menu{
  display: none;
}
  .v-menu {
    display: flex;
    color: var(--black);
    position: absolute;
    top: 5rem;
    right: 1rem;
    background: var(--white);
    flex-direction: column;
    font-weight: 500;
    gap: 2rem;
    padding: 2rem;
    padding-top: 1rem;
    border-radius: 10px;
    align-items: flex-start;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    transition: all 300ms ease-in-out;
    z-index: 100;
  }
}
